*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url("addons/background-wallpaper-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html::before{
    content: '';
    background: rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

a{
    text-decoration: none;
}